.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body > #root > div {
  height: 100vh;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
}

.chat-message {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;

}

#chat-window {
  max-height: 100%;
}

#incoming-messages ul {
  flex-direction: column-reverse;
}

.carousel-fade {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

#browse-slider {
  width: 20%;
  height: 90vh;
  overflow: scroll;
  float: left;
}

#slider-inner {
    overflow: visible;
    vertical-align: baseline;
}

.slider-image {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.match-card > .list-group-flush > .list-group-item > .pet-list-container > .pet-list-row > .pet-card {
  display: inline-block;
  width: 45%;
  margin-left: 5%;
  box-shadow: none;
}

#pet-card-inner > .pet-card {
  display: inline-block;
  width: 20%;
  margin: 1%;
}

#pet-card-inner {
  margin-left: auto;
  margin-right: auto
}

.browse-user-name {
  text-align: center;
  width: 100%
}

#match-button {
  width: 8%;
  position: absolute;
  right: 1%;
}
  
.home-image {
  margin-top: 100px;
  width: 200px;
}

#logo {
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.dropdown {
  margin-left: auto
}

.form-inline {
  margin-left: auto
}

#browse-filter {
  position: fixed;
  width: 20%;
  left: 0%;
}

.match-card {
  display: inline-block;
}

.navbar {
  margin-bottom: 25px;
}
